{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="custom-container">
	<div class="spacer-25"></div>
	<h2>Contact Us</h2>
	<div class="spacer-10"></div>
	<h3>Team</h3>
	<h4>Adviser</h4>
	<address>
		<strong>Dr. Meiyappan Nagappan</strong> <a href="mailto:mxnvse@rit.edu">mei@se.rit.edu</a>
	</address>
	<h4>Students</h4>
	<address>
		<strong>Nuthan Munaiah</strong> <a href="mailto:nm6061@rit.edu">nm6061@rit.edu</a><br />
		<strong>Craig Cabrey</strong> <a href="mailto:cac2573@rit.edu">cac2573@rit.edu</a><br />
		<strong>Steven Kroh</strong> <a href="mailto:skk8768@rit.edu">skk8768@rit.edu</a><br />
		<strong>Nimish Parikh</strong> <a href="mailto:njp6833@rit.edu">njp6833@rit.edu</a>
	</address>
	<a href="https://www.github.com/RepoReapers" style="text-decoration: none;"><img src="{% static 'app/images/GitHub-Mark-32px.png' %}" style="heigth:5%;" /> /RepoReapers</a>
	<h3>Address</h3>
	<address>
	    Department of Software Engineering<br />
	    Rochester Institute of Technology<br />
	    1 Lomb Memorial Drive<br />
	    Rochester NY 14623
	</address>
</div>
{% endblock %}