{% extends "app/layout.html" %}
{% load humanize %}

{% block content %}

<div class="custom-container">
    <div class="container-fluid">
        <div class="spacer-25"></div>
        <h2><code>reaper</code> Run Results</h2>
        <div class="spacer-25"></div>
        <div class="alert alert-success" role="alert">
            <strong>Like our work?</strong> Send us an <a href="/contact.html">email</a> or <span style="color: black; font-weight: bold;"><img src="/static/images/star.svg" style="height: 5%;"/> Star</span> or <span style="color: black; font-weight: bold;"><img src="/static/images/eye.svg" style="height: 5%;" /> Watch</span> our <a href="https://github.com/RepoReapers/reaper" target="_blank">GitHub repository</a>.
        </div>
        <div class="alert alert-info" role="alert">
            <code>reaper</code> has reaped <strong>{{ projects|intcomma }}</strong> engineered software projects from the <strong>{{ done|intcomma }}</strong> respositories analyzed so far.{% if left > 0 %} <strong>{{ left|intcomma}}</strong> repositories remain.{% endif %}
        </div>
        <div class="pull-right">
            <nav>
              <ul class="pager">
                <li class="{% if not ppage %} disabled{% endif %}"><a href="/results/{% if ppage %}{{ ppage }}.html{% else %}#{% endif %}">Previous</a></li>
                <li class="{% if not npage %} disabled{% endif %}"><a href="/results/{% if npage %}{{ npage }}.html{% else %}#{% endif %}">Next</a></li>
              </ul>
            </nav>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>Links <span class="glyphicon glyphicon-new-window"></span></th>
                    <th>Language</th>
                    <th>Score</th>
                    <th>Architecture</th>
                    <th>Community</th>
                    <th>CI</th>
                    <th>Documentation</th>
                    <th>History</th>
                    <th>License</th>
                    <th>Management</th>
                    <th>Unit Test</th>
                    <th>State</th>
                    <th># Stars</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.owner|truncatechars:22 }}/{{ result.name|truncatechars:22 }}</td>
                    <td>
                        <a target="_blank" href="https://api.github.com/repos/{{ result.owner }}/{{ result.name }}">API</a> | 
                        <a target="_blank" href="https://github.com/{{ result.owner }}/{{ result.name }}">Web</a>
                    </td>
                    <td>{{ result.language }}</td>
                    <td>{{ result.score }}</td>
                    <td>{{ result.architecture }}</td>
                    <td>{{ result.community }}</td>
                    <td>{{ result.continuous_integration }}</td>
                    <td>{{ result.documentation }}</td>
                    <td>{{ result.history }}</td>
                    <td>{{ result.license }}</td>
                    <td>{{ result.management }}</td>
                    <td>{{ result.unit_test }}</td>
                    <td>{{ result.state }}</td>
                    <td>{{ result.stars }}</td>
                    <td>{{ result.timestamp|date:'Y-m-d H:i:s' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pull-right">
            <nav>
              <ul class="pager">
                <li class="{% if not ppage %} disabled{% endif %}"><a href="/results/{% if ppage %}{{ ppage }}.html{% else %}#{% endif %}">Previous</a></li>
                <li class="{% if not npage %} disabled{% endif %}"><a href="/results/{% if npage %}{{ npage }}.html{% else %}#{% endif %}">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
